/* nav */
nav{
    background-color: #93B1A6;
    color: #040D12;
    z-index:100;
}

.logo_nav {
  width: 90px;
  height: 90px;
  border-radius: 150px;
}
/*login*/
.log-login {
  width: 90px;
  height: 90px;
  border-radius: 150px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.imagen-login{
  max-width: 100%;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa; /* Cambia el color de fondo según tus preferencias */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 0 auto;
}

.form img {
  max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
  height: auto; /* Evita que la imagen se estire */
}

.form form {
  width: 100%;
  max-width: 400px; /* Ajusta el ancho del formulario según tus preferencias */
  margin-top: 20px;
}

.container-search{
  padding: 10px;
  text-align: center;
  left: 45%;
}
input{
  outline: none;
  box-sizing: border-box;
 color: #040D12;
 border-radius: 40px;
 font-size: 20px; 
 border-color: transparent;
}
::placeholder{
  text-align: center;
}
.search-btn{
  top: 0%;
  right: 0%;
  width: 30px;
  height: 30px;
  background-color:#183D3D ;
  border-radius: 50px;
  text-align: center;
  border-color: transparent;
}
/* footer */
.footer {
    background-color:  #93B1A6;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer h4 {
    color: #fff;
  }
  
  .footer p {
    font-size: 14px;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
  }
  
  .social-icons li {
    display: inline;
    margin-right: 10px;
  }
  
  .social-icons a {
    color: #fff;
  }
