* {
  box-sizing: border-box;
  border: 0px;
  padding: 0px;
}
nav {
  background-color: #93b1a6;
  color: #040d12;
}

.logo_nav {
  width: 90px;
  height: 90px;
  border-radius: 150px;
}

body {
  background-color: #040d12;
}
/* nav */
.carousel-inner img {
  width: 90px;
  height: 90px;
}

/* buscardor */
.container-search {
  padding: 10px;
  text-align: center;
  left: 45%;
}
input {
  outline: none;
  box-sizing: border-box;
  color: #040d12;
  border-radius: 40px;
  font-size: 20px;
  border-color: transparent;
}
::placeholder {
  text-align: center;
}
.search-btn {
  top: 0%;
  right: 0%;
  width: 30px;
  height: 30px;
  background-color: #183d3d;
  border-radius: 50px;
  text-align: center;
  border-color: transparent;
}

/* footer */
.footer {
  background-color: #93b1a6;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer h4 {
  color: #fff;
}

.footer p {
  font-size: 14px;
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
}

footer {
  background-color: #210e0a;
}
footer small {
  font-size: 10px;
}
footer img {
  width: 150px;
}
.footer-contenedor {
  width: 100%;
}
.row-contenedor {
  width: 100%;
}

/* 404 */

.btn_404 {
  background-color: #93b1a6;
  color: #183d3d;
  font-weight: bold;
}

.contenedor_404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
